services:
  postgres:
    image: postgres:15
    container_name: userapi_postgres
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  userapi:
    build: .
    container_name: userapi_app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}

  adminer:
    image: adminer
    container_name: userapi_adminer
    restart: always
    ports:
      - 8081:8080
    depends_on:
      - postgres

volumes:
  pgdata: